.modal-container {
  position: fixed;
  top: 20%;
  left: 36%;
  right: 0;
  bottom: 0;
  background: lightgray;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 420px;
  height: 500px;
  border-top: 2px solid rgba(0, 0, 0, 0.7);
  border-bottom: 2px solid rgba(0, 0, 0, 0.7);
}

.modal-img {
  display: flex;
  width: 80%;
  margin: 0.5rem auto;
  outline: 1px solid grey;
}

.row h3 {
  width: 80%;
  margin: 1rem auto;
  text-align: center;
  color: rgba(0, 0, 0, 0.7);
  text-shadow: 1px 1px rgba(250, 255, 255, 0.8);
  border: 1px dotted grey;
}

.row h5 {
  width: 80%;
  text-align: center;
  margin: 0.8rem auto;
  color: rgba(0, 0, 0, 0.7);
  border: 1px dotted grey;
}

.row button {
  display: flex;
  margin: 1rem auto;
  padding: 0.6rem 1rem;
  text-transform: uppercase;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.7);
  border-top-left-radius: 15px;
  background: rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

